.code-wrapper{
    width: 100%;
    height: calc(100% - var(--path-info-height) - 2px);
}

.codearea-left .code-wrapper{
    width: calc(100% - 1px);
}

.CodeMirror{
    background-color: var(--clr-surface-a20) !important;
}

.CodeMirror-gutters{
    background-color: var(--clr-surface-a20) !important;
}