.settings-body{
    background-color: var(--clr-surface-a10);
    border-top: 1px solid var(--clr-surface-a30);
    width: 100%;
    height: 100%;
    padding: 5px;
}

.titlebar{
    padding-inline: 5px;
}

input[type="number"]{
    background-color: var(--clr-surface-a10);
    color: var(--clr-light-a0);
    height: 12px;
    top: 0;
    border: none;
    outline: 1px solid var(--clr-surface-a40);
    border-radius: 2px;
    width: 80px;
}

input[type="number"]:focus{
    outline: 1px solid var(--clr-primary-a0);
    border: none;
}

.settings-form{
    display: block;
}

.settings-input-wrapper{
    display: block;
    padding: 5px;
}

input[type="submit"]{
    background-color: var(--clr-surface-a20);
    border: 1px solid var(--clr-surface-a40);
    border-radius: 2px;
    color: var(--clr-light-a0);
}

.settings-title{
    margin-left: 5px;
}