@import url(themes.css);
@import url('https://fonts.cdnfonts.com/css/consola-mono');
@import url("https://fonts.googleapis.com/css?family=Roboto Mono");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");

:root{
    --top-bar-height: 30px;
    --bottom-bar-height: 0px;
    --side-bar-width: 50px;
    --sidetab-width: 100px;
    --sidetab-width-min: 100px;
    --sidetab-width-max: 400px;
    --terminal-height: 100px;
    --terminal-height-min: 100px;
    --terminal-height-max: 400px;
    --tabs-height: 25px;
    --path-info-height: 20px;
    --codearea-left-width: 0.5;
    --editor-font: monospace;
}

body {
    margin: 0;
    background: var(--clr-surface-a10);
    color: var(--clr-light-a0);
    font-family: Segoe WPC, Segoe UI, sans-serif;
    font-size: 14px;
    overflow: hidden;
}

span{
    font-family: Segoe WPC, Segoe UI, sans-serif;
}

.content {
    height: calc(100vh - var(--top-bar-height) - var(--bottom-bar-height));
    border-top: 1px solid var(--clr-surface-a30);
}

.titlebar {
    font-size: 13px;
    height: var(--top-bar-height);
    background: var(--clr-surface-a10);
    border-bottom: 1px solid var(--clr-surface-a10); /*this works ig*/
    color: var(--clr-light-a0);
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    user-select: none;
    app-region: drag; /*dont worry about the error*/
}

.top-btn{
    position: relative;
    display: inline;
    padding: 0px 5px;
    padding-bottom: 1px;
    margin-left: 10px;
    background-color: var(--clr-surface-a10);
    border-radius: 4px;
    line-height: 0px;
    align-items: center;
    app-region: no-drag;
}

.top-btn+.top-btn{
    padding-left: 8px; 
}

.top-btn:hover{
    background-color: var(--clr-surface-a20);
}

body[dropdown-active] .dropdown-trigger[active]{
    background-color: var(--clr-surface-a20);
}

ul{
    padding: 0;
    list-style-type: none;
}

.dropdown{
    position: absolute;
    width: 100px;
    background-color: var(--clr-surface-a10);
    border-radius: 2px;
    border: 1px solid var(--clr-surface-a30);
    z-index: 3;
    left: 0;
    top: 8px;
    padding: 4px;
}

.dropdown-item{
    padding: 8px;
    border-radius: 2px;
}

.dropdown-item + .dropdown-item{
    margin-top: 3px;
}

.dropdown-item:hover{
    background-color: var(--clr-primary-a0);
}

body:not([dropdown-active]) .dropdown, .dropdown-trigger:not([active]) .dropdown{
    visibility: hidden !important;
}

.sidenav{
    width: var(--side-bar-width);
    text-align: center;
}

.side-icon{
    font-size: 25px;
    padding: 8px;
    padding-left: 3px;
    padding-right: 5px;
    margin-left: 3px;
    border-left: transparent 2px solid;
    color: var(--clr-surface-a50);
}

.side-icon[focused]{
    border-left: var(--clr-primary-a0) 2px solid;
    color: var(--clr-light-a0);
}

.side-icon:hover{
    color: var(--clr-light-a0);
}

.side-icon:hover .tooltip{
    visibility: visible;
}

.tooltip{
    visibility: hidden;
    position: absolute;
    text-align: center;
    padding: 1px 7px;
    padding-bottom: 2px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    font-size: 13px;
    margin-top: 6px;
    background-color: var(--clr-surface-a20);
    border-color: var(--clr-surface-a40);
    z-index: 3;
}

.tooltip-left{
    margin-left: 14px;
}

.tooltip-left:before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid var(--clr-surface-a40);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    left: -10px;
    top: 6px;
}

.tooltip-left:after{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid var(--clr-surface-a20);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    left: -9px;
    top: 6px;
}

.bottomnav{
    height: var(--bottom-bar-height);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    user-select: none;
    position: absolute;
    bottom: 0;
    background: var(--clr-surface-a10);
    border-top: 1px solid var(--clr-surface-a30);
}

.side {
    float: left;
    height: calc(100vh - var(--top-bar-height) - var(--bottom-bar-height));
    border-right: 1px solid var(--clr-surface-a30);
}

.sidetab{
    width: var(--sidetab-width);
    height: calc(100% - 2px);
    display: flex;
    justify-content: space-between;
    user-select: none;
    visibility: visible;
    overflow-x: hidden;
    overflow-y: hidden;
}

.sidetab-resize{
    height: calc(100% - var(--top-bar-height) - var(--bottom-bar-height) - 6px);
    margin-left: calc(var(--sidetab-width) - 2px);
    border: 2px solid var(--clr-primary-a0);
    z-index: 2;
    position: absolute;
    opacity: 0;
    cursor: ew-resize;
    transition: opacity 0.2s;
}

.sidetab-resize:hover{
    opacity: 1;
}

.sidetab-resize[resizing]{
    opacity: 1 !important;
}

body[resizing] .sidetab-resize:hover{
    opacity: 0;
}

.sidetab[ishidden=true] .sidetab-content{
    visibility: hidden;
}

.sidetab-content{
    width: 100%;
}

.sidetab-tab{
    width: 100%;
    height: 100%;
}

.sidetab-tab:not([isopen]){
    display: none;
}

.sidetab-tab[id="folder-tab"]{
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}

.main{
    width: 100%;
    height: 100%;
}

.tabs{
    display: flex;
    height: var(--tabs-height);
    align-items: center;
    border-bottom: 1px solid var(--clr-surface-a30);
    background-color: var(--clr-surface-a10);
    overflow-x: auto;
}

.tabs-content{
    position: relative;
}

.tab{
    display: flex;
    height: 100%;
    align-items: center;
    background-color: var(--clr-surface-a10);
    user-select: none;
    padding-inline: 10px;
    color: var(--clr-surface-a50);
    border-right: 1px solid var(--clr-surface-a30);
}

.tab[edited] .tab-name{
    color: var(--clr-other-tab-edit);
}

.tab[selected]{
    height: 100%;
    color: var(--clr-light-a0);
    background-color: var(--clr-surface-a20);
}

.codearea-group[main] .tab[selected]{
    height: calc(100% - 2px);
    border-top: 2px solid var(--clr-primary-a0);
}

.codearea-group[main] .tab[selected] *{
    margin-top: -2px;
}

.tab:hover{
    background-color: var(--clr-surface-a20);
}

.tab-name{
    font-size: 14px;
}

.close-tab{
    margin-left: 5px;
    font-size: 12px;
    border-radius: 5px;
    padding-inline: 3px;
    background-color: none;
    opacity: 0;
}

.tab[selected] .close-tab, .tab:hover .close-tab{
    opacity: 1;
}

.tab-drop-indicator{
    position: absolute;
    height: var(--tabs-height);
    width: 2px;
    background-color: var(--clr-light-a0);
    visibility: visible;
    /* margin-left: 0; */
}

.tab-drop-indicator[ishidden]{
    visibility: hidden;
}

.close-tab:hover{
    background-color: var(--clr-surface-a30);
}

.codearea{
    display: flex;
    height: calc(100% - var(--terminal-height) + 4px);
    background-color: var(--clr-surface-a20);
    visibility: visible;
}

.codearea[ishidden=true]{
    visibility: hidden;
}

.codearea-left{
    width: calc(var(--codearea-left-width) * 100%);
    border-right: 1px solid var(--clr-surface-a30);
    height: 100%;
    max-width: calc(100% - 50px);
    min-width: 50px;
    overflow: hidden;
}

.codearea[opened="10"] .codearea-left{
    width: 100%;
    max-width: 100%;
}

.codearea[opened="01"] .codearea-left{
    width: 0%;
    min-width: 0;
    visibility: hidden;
}

.codearea-right{
    width: calc(100% - 100% * var(--codearea-left-width));
    height: 100%;
    max-width: calc(100% - 50px);
    min-width: 50px;
}

.codearea[opened="10"] .codearea-right{
    width: 0%;
    min-width: 0;
    visibility: hidden;
}

.codearea[opened="01"] .codearea-right{
    width: 100%;
    max-width: 100%;
}

.codearea-left-resize{
    margin-left: 0;
    border: 2px solid var(--clr-primary-a0);
    z-index: 2;
    position: absolute;
    opacity: 0;
    cursor: ew-resize;
    transition: opacity 0.2s;
    visibility: hidden;
    height: calc(100% - var(--terminal-height) - var(--tabs-height) - var(--path-info-height) + 15px); /*this shouldnt work but it does i have no idea why*/
}

.codearea[opened="11"] .codearea-left-resize{
    visibility: visible;
}

.codearea-left-resize:hover{
    opacity: 1;
} 

.codearea-left-resize[resizing]{
    opacity: 1 !important;
}

body[resizing] .codearea-left-resize:hover{
    opacity: 0;
}

.codearea-group:not([opened]){
    display: none;
}

.tab-content{
    height: calc(100% - var(--tabs-height));
}

.window{
    position: absolute;
    height: calc(100% - var(--top-bar-height) - var(--terminal-height) - var(--bottom-bar-height) - var(--tabs-height) + 4px);
}

.codearea-left .window{
    width: calc(var(--codearea-left-width) * (100% - var(--side-bar-width) - var(--sidetab-width)));
}

.codearea-right .window{
    width: calc((1 - var(--codearea-left-width)) * (100% - var(--side-bar-width) - var(--sidetab-width)));
}

.codearea:not([opened="11"]) .window{
    width: calc(100% - var(--side-bar-width) - var(--sidetab-width));
}

.window:not([active]){
    visibility: hidden;
}

.drop-indicator{
    position: absolute;
    margin-top: calc(var(--tabs-height));
    height: calc(100% - var(--tabs-height) - var(--terminal-height) - 25px);
    width: 100%;
    margin-left: 0;
    background-color: #57575781;
    opacity: 1;
    pointer-events: none;
    transition: 0.1s all;
}

.drop-indicator[ishidden]{
    opacity: 0;
    width: 100%;
    transition: 0s all;
}

.window-info{
    display: flex;
    height: var(--path-info-height);
    width: 100%;
    padding-inline: 5px;
    border-bottom: 1px solid var(--clr-surface-a30);
    overflow: hidden;
}

.terminal{
    height: calc(var(--terminal-height) - 8px);
    display: flex;
    background-color: var(--clr-surface-a10);
    border-top: 1px solid var(--clr-surface-a30);
    visibility: visible;
    z-index: 2;
}

.terminal[full=true]{
    border-top: none;
}

.terminal-resize{
    width: calc(100% - var(--sidetab-width));
    border: 2px solid var(--clr-primary-a0);
    margin-top: -4px;
    left: calc(var(--sidetab-width) + var(--side-bar-width) + 1px);
    z-index: 2;
    position: absolute;
    opacity: 0;
    cursor: ns-resize;
    transition: opacity 0.2s;
}

.terminal-resize:hover{
    opacity: 1;
}

.terminal-resize[resizing]{
    opacity: 1 !important;
}

body[resizing] .terminal-resize:hover{
    opacity: 0;
}

.terminal[ishidden=true] .terminal-content{
    visibility: hidden;
    display: none;
}


.select-input{
    background-color: var(--clr-surface-a20);
    border-radius: 2px;
    color: var(--clr-light-a0);
    border: none;
    outline: 1px solid var(--clr-surface-a40);
}

::-webkit-scrollbar{
    visibility: hidden;
    display: none;
}
